parameters:
    version: "v0.7.1"
    oauth:
        baseUrl: "https://www.flickr.com/services/oauth/"
        key: "3365341effaf533f4fe95f6629a2c9a8"
        secret: "9c21dac1df1c16a3"
        token: null
        tokenSecret: null

services:
    - FlickrDownloadr\Command\Authorize(%oauth.baseUrl%, %oauth.key%, %oauth.secret%)
    - FlickrDownloadr\Command\PhotosetList
    - FlickrDownloadr\Command\PhotosetDownload

    - 
        class: Rezzza\Flickr\Metadata
        arguments: [%oauth.key%, %oauth.secret%]
        setup:
            - setOauthAccess(%oauth.token%, %oauth.tokenSecret%)

    flickrApi.guzzleJsonAdapter: FlickrDownloadr\FlickrApi\GuzzleJsonAdapter
    - Rezzza\Flickr\ApiFactory(..., @flickrApi.guzzleJsonAdapter)
    - FlickrDownloadr\FlickrApi\Client
    - FlickrDownloadr\Photoset\Repository
    - FlickrDownloadr\Photoset\DirnameCreator
    - FlickrDownloadr\Photo\Repository
    - FlickrDownloadr\Photo\SizeHelper
    - FlickrDownloadr\Photo\Mapper
    - FlickrDownloadr\Photo\FilenameCreator
    - FlickrDownloadr\Photo\DownloaderFactory
    - FlickrDownloadr\Oauth\ClientFactory(%oauth.baseUrl%, %oauth.key%, %oauth.secret%)
    - FlickrDownloadr\Tool\TimeFormater
    - FlickrDownloadr\Tool\SpeedFormater
    - FlickrDownloadr\Tool\FilesizeFormater
